* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
}

input {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

body {
    background-color: #f0f0f0;
    font-family: Monospaced, sans-serif;
}

main {
    margin: 0 auto;
    max-width: 800px;
    padding: 80px;
}

main > h1 {
    text-align: center;
}

form {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

form .field {
    width: 100%;
}

#tasks {
    list-style-type: none;
    margin-top: 20px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

#tasks #empty {
    text-align: center;
    margin-top: 50px;
    font-size: 32px;
    color: #6c757d;
    text-transform: capitalize;
    font-style: oblique;
    font-family: cursive;
}

#task {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    gap: 10px;
    align-items: center;
}

#task p {
    flex-grow: 2;
}

#task button {
    font-size: 12px;
    padding: 5px;
}

#task[class="done"] p {
    text-decoration: line-through;
}

#task .remove {
    background-color: #dc3545;
}

#task .mark {
    background-color: #28a745;
}

#task[class="done"] .mark {
    background-color: #6c757d;
}
